@font-face {
  font-family: "Roboto";
  src: url(../media/fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../media/fonts/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../media/fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../media/fonts/Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

body {
  display: grid;
  grid-template-columns: 1fr 3.75fr;
  grid-template-rows: 1fr 4.75fr;
  width: 100vw;
  height: 100vh;
  font-family: Roboto, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  background-color: #fefeff;
  grid-column: 2 / 3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 0.66fr;
  grid-template-rows: 0.7fr 1fr;
  padding-left: 3rem;
}

button {
  border: none;
  background-color: #1993d5;
  color: #fefeff;
  padding: 0.6rem;
  padding-left: 0px;
  padding-right: 0px;
  width: 5.8rem;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 700;
  place-self: center;
}

input {
  background-color: #e2e9f1;
  border: none;
  border-radius: 30px;
  height: 1.5rem;
  align-self: center;
}

/* Removes link decorations */
a:link,
a:visited {
  text-decoration: none;
}
.sidebar {
  height: 100vh;
  background-color: #1993d5;
  grid-column: 1/2;
  grid-row: 1 /3;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(3, 5.8rem);
  grid-template-rows: 1fr;
  padding-right: 4.5rem;
  gap: 1.5rem;
  justify-content: flex-end;
}
.sidebarBlock {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 1.5rem;
  margin-top: 2.5rem;
}
.sidebarBlock2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 1.5rem;
  margin-top: 4.5rem;
}
.sidebarItem {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr;
  color: #fefeff;
}
.sidebarMainLogo{
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr;
  color: #fefeff;
  margin-top:10px;
}
.svgCenter {
  place-self: center;
  width: 1.5rem;
  height: 1.5rem;
}

.svgRight {
  justify-self: end;
  align-self: center;
  width: 1.5rem;
  height: 1.5rem;
}
.MainLogo {
  place-self: center;
  width: 4rem;
  height: 4rem;
}

.sideText {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0px;
  margin-top: 0px;
}
.contentlimit {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  gap: 20px;
  margin-right: 10px;
  grid-template-columns: 2.65fr 1fr;
  grid-template-rows: 1.025fr 1fr;
  padding: 20px;
}

.mainContentHeading {
  margin: 0px;
  font-size: 1.23em;
  font-weight: 500;
  padding: 11px 0px;
}

.cardtext {
  margin: 0px;
}

.yourProjects {
  grid-row: 1/3;
  grid-column: 1/2;
}

.Search {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 24px 1fr;
  gap: 1rem;
}
.pfp {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  grid-row: 1/3;
  grid-column: 1/2;
  place-self: center;
}

.pfpTiny {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}
.line1 {
  grid-row: 1/2;
  align-self: end;
  font-weight: 500;
  font-size: 0.9rem;
}
.line2 {
  grid-row: 2/3;
  align-self: start;
  font-weight: 700;
  font-size: 1.2rem;
}
.line1,
.line2 {
  grid-column: 2/3;
  margin-top: 0px;
  margin-bottom: 0px;
}
.namecard {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 5rem 1fr;
  gap: 5px;
}
.namecardTiny {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2.8rem 1fr;
  gap: 5px;
}

.tinyCardText {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-self: center;
  justify-self: start;
}
.cardContainer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  height: auto;
}

.announcementsTitle {
  margin: 0px;
  font-size: 0.9rem;
}

.announcementstext {
  margin: 0px;
  font-size: 0.75rem;
  color: #686868;
}

.announcements,
.Trending {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 44px 1fr;
}

.card,
.card2,
.card3 {
  background-color: #fefeff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0.1rem 0.25rem 0.3rem rgb(204, 204, 204);
  gap: 1.5rem;
}

.card {
  border-left: 9px solid rgb(238, 188, 51);
  height: 175px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem;
  gap: 0px;
}
.mainCardIcons{
  display: grid;
  grid-template-columns: repeat(3, 1.5rem);
  grid-template-rows: 1fr;
  gap: 20px;
  justify-content: end;
}
.cardContent {
  padding: 0.5rem 0px;
}
.card2 {
  padding-top: 2rem;
}
.card2,
.card3 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}
.logoTitle {
  margin: 0px;
  font-size: 1.75rem;
  align-self: center;
}
hr {
  border-top: 1px solid #e2e9f1;
}
.main-content {
  background-color: #e2e9f1;
}
.headerSettings {
  display: grid;
  grid-template-columns: repeat(2, 3rem) 12.5rem;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: start;
  gap: 1.5rem;
  justify-content: end;
}

/* Filter for turning black SVGs into white.*/
.MakeItWhite {
  filter: brightness(0) saturate(100%) invert(89%) sepia(13%) saturate(538%)
    hue-rotate(201deg) brightness(108%) contrast(105%);
}

.MakeItBlack {
  filter: brightness(0) saturate(100%);
}

.subtleShadow {
  box-shadow: 0.1rem 0.25rem 0.3rem rgb(204, 204, 204);
}

.tinyCardName {
  font-size: 0.85rem;
  margin: 0px;
  margin-bottom: 3px;
}
.tinyCardDesc {
  font-size: 0.85rem;
  color: #7a7a7a;
  margin: 0px;
}
.mainCardText>h4{
  margin: 0px;
  font-size: 1.05rem;
}
.mainCardText>p{
  margin: 0px;
  color: #7a7a7a;
  font-size: 0.975rem;
}